body{
  font-family: 'KoHo', sans-serif;
  background-color: #030226;
  color: #ffffff;

  text-align: center;
  border: 60px solid #09bfb9;
  border-top: 0px;

  margin: 0px;
}

p{
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

form{
  font-size: 1.3em;
  margin-bottom: 10px;
}

#fname{
  height: 30px;
  width: 25%;
  font-size: 1.0em;
}

#lname{
  height: 30px;
  width: 25%;
  font-size: 1.0em;
}

#email{
  height: 30px;
  width: 25%;
  font-size: 1.0em;
}

#btnsubmit{
  background-color: #09bfb9;
  height: 80px;
  width: 150px;
  font-size: 1.0em;

  border-radius: 20px;

  margin-top: 15px;
}
